
<center>
<img src="/bagit.png" alt="BagIt Logo" /><br/><br />
Thank you for using BagIt!<br />
<br />
Your order HAS been submitted.<br />
<br />
To view your order history or cancel a current order, login to My HUDS at <a href="http://www.dining.harvard.edu/myhuds/students/" target="_blank">http://www.dining.harvard.edu/myhuds/students/</a>.
<br><br>
<a href="breakfast" data-role="button" rel="external">New Order</a>
<a href="logout" data-role="button" rel="external">Log Out </a>
</center>


